@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255; /* white */
  --background-alt: 243 244 246; /* gray-100 */
  --background-page: 249 250 251; /* gray-50 */
  --background-hover: 229 231 235; /* gray-200 */
  --text: 17 24 39; /* gray-900 */
  --text-muted: 107 114 128; /* gray-500 */
  --highlight: 234 179 8; /* yellow-500 */
}

[data-theme="dark"] {
  /* Dark theme */
  --background: #0f1822ff;
  --background-alt: #0f1822ff;
  --background-page: #2a1f1fff;
  --background-hover: #663422ff;
  --text: #f5f4f0;
  --text-muted: #e5e4d9;
  --highlight: #8b6556ff;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
